
:root.theme-light {
    /*общее*/
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --link-outline-color: #353430;
    /*декоративные элементы*/
    --decorated-element-visibility: hidden;
    --header-decorated-text-shadow: 4px 4px var(--accent-color);
    --footer-decorated-text-shadow: 2px 2px var(--accent-color);
    --decorated-rectangle-border-color: #353430;
    /*кнопки*/
    --bottom-text-color: var(--main-text-color);
    --buttom-border-color: #353430;
    --buttom-outline-color: #32312d66;
    --buttom-change-plase-outline: 1px solid var(--buttom-border-color);
    /*стили header*/
    --title-text-color: #ffc2e6;
    /*основной текст*/
    --main-text-color: #353430;
    --content-section-title-text-color: #353430;
    --paragraph-text-color: #353430;
}

@media (prefers-color-scheme: light) {
    :root.theme-auto {
        /*общее*/
        --background-image: url(../images/cover-image-light.png);
        --background-color: #fff1f7;
        --accent-color: #ff8dcb;
        --link-outline-color: #353430;
        /*декоративные элементы*/
        --decorated-element-visibility: hidden;
        --header-decorated-text-shadow: 4px 4px var(--accent-color);
        --footer-decorated-text-shadow: 2px 2px var(--accent-color);
        --decorated-rectangle-border-color: #353430;
        /*кнопки*/
        --bottom-text-color: var(--main-text-color);
        --buttom-border-color: #353430;
        --buttom-outline-color: #32312d66;
        --buttom-change-plase-outline: 1px solid var(--buttom-border-color);
        /*стили header*/
        --title-text-color: #ffc2e6;
        /*основной текст*/
        --main-text-color: #353430;
        --content-section-title-text-color: #353430;
        --paragraph-text-color: #353430;
    }
}
