.page {
    background-image: var(--background-image);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto-fit;
    gap: 40px;
}

/*класс для ссылок*/

.link {
    border: initial;
    text-decoration: none;
    text-shadow: 2px 2px var(--accent-color);
}

.link:hover {
    border-bottom: 1px solid var(--paragraph-text-color);
}

.link:focus {
    outline: 1px solid var(--link-outline-color);
}

.link:focus-visible {
    outline: 1px solid var(--link-outline-color);
}

/*все обсласти с акцентным цветом*/

.title-decor {
    background-color: var(--accent-color);
}

/* декоративный заголовок в header и footer*/

.decorated-title {
    font-family: var(--font-family);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--title-text-color);
    text-shadow: var(--header-decorated-text-shadow);
    padding-inline-start: 10px;
    margin-block-start: 20px;
}

/*декоративные уголки в header и footer*/

.decorated-rectangle {
    position: relative;
}

.decorated-rectangle::before,
.decorated-rectangle::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
}

.decorated-rectangle::before {
    margin-block-start: var(--margin);
    margin-inline-end: var(--margin);
    right: 0;
    top: 0;
    border-top: 1px solid var(--decorated-rectangle-border-color);
    border-right: 1px solid var(--decorated-rectangle-border-color);
}

.decorated-rectangle::after {
    margin-inline-start: var(--margin);
    margin-block-end: var(--margin);
    bottom: 0;
    left: 0;
    border-left: 1px solid var(--decorated-rectangle-border-color);
    border-bottom: 1px solid var(--decorated-rectangle-border-color);
}

/*декоративный элемент "Лампочка"*/

.decorated-element {
    visibility: var(--decorated-element-visibility);
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;

    justify-self: flex-end;
    margin-block-start: var(--margin);
    margin-inline-end: calc(var(--margin) + 6px);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--accent-color);
    text-transform: uppercase;
}

.decorated-element::after {
    content: "";
    right: 10px;
    width: 10px;
    height: 10px;
    margin-inline-end: 3px;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px #ff0070;
}

/*остальные стили страницы*/

.header {
    display: grid;
    height: 100vh;
    min-height: 668px;
    align-content: space-between;
    align-items: baseline;
    justify-items: flex-end;
}

.header__theme-menu {
    margin-block-start: 75px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-inline-end: var(--margin);
    gap: 10px;
}

.header__theme-menu-button {
    display: flex;
    width: 70px;
    height: 26px;
    font-family: var(--font-family);
    font-weight: var(--main-text-font-weight);
    font-size: var(--main-text-font-size);
    line-height: var(--buttom-line-height);
    color: var(--bottom-text-color);
    text-align: center;
    background-color: transparent;
    border-style: none;
    justify-content: center;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--buttom-outline-color);
}

.header__theme-menu-button:focus {
    outline: initial;
    border-bottom: 1px solid var(--buttom-border-color);
    margin-bottom: -1px;
}

.header__theme-menu-button:focus-visible {
    outline: initial;
    border-bottom: 1px solid var(--buttom-border-color);
    margin-bottom: -1px;
}

.header__theme-menu-button_active {
    outline: var(--buttom-change-plase-outline);
    pointer-events: none;
}

.header__title {
    font-family: var(--font-family);
    font-weight: var(--title-font-weight);
    font-size: var(--main-text-font-size);
    line-height: var(--main-text-line-height);
    color: var(--main-text-color);
    margin-inline-start: var(--margin);
    margin-inline-end: var(--margin);
    margin-block-start: 10px;
    margin-block-end: 65px;
}

.content {
    display: grid;
    gap: 50px;
    margin-inline-start: var(--margin);
    margin-inline-end: var(--margin);
}

.content__section {
    display: grid;
    gap: 20px;
    font-family: var(--font-family);
    font-weight: var(--main-text-font-weight);
    font-size: var(--main-text-font-size);
    line-height: var(--main-text-line-height);
}

.content__section:nth-child(4) {
    gap: 10px;
}

.content__section-chapter {
    display: grid;
    flex-direction: column;
    gap: 20px;
}

/* .content__section-chapter {
  
} */

.content__section-paragraph {
    display: grid;
    flex-direction: column;
    gap: 10px;
}

h2 {
    font-weight: var(--title-font-weight);
    font-size: var(--main-text-font-size);
    color: var(--content-section-title-text-color);
}

h3 {
    font-weight: var(--title-font-weight);
    font-size: var(--main-text-font-size);
    color: var(--main-text-color);
}

h4 {
    font-weight: var(--main-text-font-weight);
    font-size: var(--main-text-font-size);
    color: var(--main-text-color);
}

p {
    color: var(--paragraph-text-color);
}

.gallery {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

.gallery .title-decor {
    margin-block-end: 0;
}

.gallery-image {
    object-fit: cover;
    width: 100%;
}

.footer {
    display: grid;
    height: 100vh;
    min-height: 667px;
    align-content: center;
    justify-content: center;
}

.footer .decorated-title {
    margin-block-start: 0px;
    margin-inline-start: 0px;
    padding: 0;
    text-shadow: var(--footer-decorated-text-shadow);
}

/*медиазапросы*/

@media (width>=768px) {
    .page {
        gap: 60px;
    }

    .decorated-title {
        padding-inline-start: 0;
        margin-block-start: 60px;
        width: 100%;
    }

    .header {
        align-content: space-evenly;
    }

    .header__theme-menu {
        margin-block-start: 75px;
    }

    .header__title {
        max-width: 47%;
        margin-block-start: 50px;
    }

    .content {
        gap: 80px;
    }

    .content__section {
        grid-template-columns: 1fr 2fr;
    }

    .content__section:nth-child(2n) {
        grid-template-columns: 1fr;
    }

    .content__section:nth-child(2n) h2 {
        width: 30vw;
    }
    .content__section-chapter {
        gap: 20px;
    }

    .content__section-chapter:nth-child(2) {
        grid-auto-flow: row;
    }

    .gallery {
        margin-block-start: 10px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: dense;
        gap: 20px;
    }

    .gallery-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery-image_wide {
        grid-column: span 2;
    }

    .gallery-image_slim {
        grid-row: span 2;
    }
}

@media (width>=1024px) {
    .decorated-title {
        margin-block-start: 165px;
    }

    .header {
        align-content: space-between;
    }

    .header__theme-menu {
        position: relative;
        left: 10px;
        margin-block-start: var(--margin);
        justify-self: center;
        align-self: start;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__title {
        max-width: 48%;
        margin-block-start: 0;
        margin-block-end: 135px;
    }

    .content__section {
        gap: 10px;
    }

    .content__section:nth-child(2) {
        gap: 20px;
    }

    .content__section:nth-child(2) .content__section-chapter {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: column;
        align-items: baseline;
        gap: 20px;
    }
}
