/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root.theme-dark {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    /*общая типографика*/
    --font-family: "IBM Plex Mono";
    --text-shadow: 4px 4px #ff0070;
    --button-font-weight: 400;
    /*кнопки*/
    --button-font-size: 18px;
    --button-line-height: 18px;
    --button-color: #ff0070;
    /*стили header*/
    --header-font-weight: 700;
    --title-font-size: 116px;
    --title-line-height: 83%;
    --title-text-color: #db00ff;
    --subtitle-background-color: #ff0070;
    --subtitle-font-size: 18px;
    --subtitle-line-height: 23.4px;
    --subtitle-text-color: #000028;
}
