/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root.theme-dark {
    /*общее*/
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;
    --accent-color: #ff0070;
    --link-outline-color: #f1b2ce;
    --margin: 10px;
    /*декоративные элементы*/
    --decorated-element-visibility: visible;
    --header-decorated-text-shadow: 4px 4px var(--accent-color);
    --footer-decorated-text-shadow: 2px 2px var(--accent-color);
    --decorated-rectangle-border-color: var(--accent-color);
    /*общая типографика*/
    --font-family: "IBM Plex Mono";
    --title-font-weight: 700;
    /*кнопки*/
    --button-line-height: 18px;
    --button-border-color: var(--accent-color);
    --button-outline-color: #ff007066;
    --button-change-plase-outline: 1px solid var(--button-border-color);
    /*стили header*/
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    /**/
    --title-line-height: 83%;
    --title-text-color: #db00ff;
    /*основной текст*/
    --main-text-font-size: 18px;
    --main-text-font-weight: 400;
    --main-text-line-height: 23.4px;
    --main-text-color: #000028;
    --content-section-title-text-color: var(--accent-color);
    --paragraph-text-color: #f1b2ce;
}

@media (width>=768px) {
    :root.theme-dark {
        --margin: 20px;
    }
}

@media (width>=1024px) {
    :root.theme-dark {
        --title-font-size: 157px;
    }
}
